{% load blog_tags %}

<section id="pagination" class="d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination pagination-circle">
            <li class="page-item {% if not posts.has_previous %} disabled {% endif %}">
                {% if page.has_previous %}
                    {% if query %}
                        <a class="page-link" href="?{% url_replace request 'page' posts.previous_page_number %}">Previous</a>
                    {% else %}
                        <a class="page-link" href="{% url 'blog:page' posts.previous_page_number %}">Previous</a>
                    {% endif %}
                {% endif %}
            </li>

            {% for page in posts.paginator.page_range %}
                {% if posts.number == page %}
                    <li class="page-item active" aria-current="{{ page }}">
                        {% if query %}
                            <a class="page-link" href="?{% url_replace request 'page' page %}">
                                {{ page }} <span class="visually-hidden">(current)</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="{% url 'blog:page' page %}">
                                {{ page }} <span class="visually-hidden">(current)</span>
                            </a>
                        {% endif %}
                    </li>
                {% elif page > posts.number|add:'-3' and page < posts.number|add:'3' %}
                    <li class="page-item">
                        {% if query %}
                            <a class="page-link" href="?{% url_replace request 'page' page %}">{{ page }}</a>
                        {% else %}
                            <a class="page-link" href="{% url 'blog:page' page %}">{{ page }}</a>
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}

            <li class="page-item {% if not posts.has_next %} disabled {% endif %}">
                {% if page.has_next %}
                    {% if query %}
                        <a class="page-link" href="?{% url_replace request 'page' posts.next_page_number %}">Next</a>
                    {% else %}
                        <a class="page-link" href="{% url 'blog:page' posts.next_page_number %}">Next</a>
                    {% endif %}
                {% endif %}
            </li>
        </ul>
    </nav>
</section>